{% extends 'base.html.twig' %}
{% block title 'Se connecter' %}

{% block body %}
<body>
    <div class="container">
        <div class="shadow jumbotron transparence py-5">
            <div class="container">
                <h1 style="margin-block-start: 0;margin-block-end: 0;color: #ABABAB;font-family: 'Barlow Condensed Thin';font-size: 70px"; class="align-bottom wrecked">
                    Se connecter
                </h1>
                {% if errors  %}
                    <div class="alert alert-danger">
                        {{ errors.messageKey | trans(errors.messageData, 'security') }}
                    </div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}