{% extends 'base.html.twig' %}
{% block title 'ProjetWeb' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Page d'accueil</h1>
        <p class="lead">Projet Web</p>
        <hr class="my-2">
        <p>Voir github Calendar</p>
        <p class="lead">
            <a href="#">Visiter le github</a>
        </p>
    </div>
{% endblock %}