{% extends 'admin/room/base_room.html.twig' %}

{% block title 'Éditer une salle' %}

{% block body %}
<body>
    <div class="jumbotron transparence">
        <div class="container mt-4">
            <h2>Éditer la salle</h2>
            {{ include ('admin/room/_form.html.twig', {button: 'Éditer'}) }}
        </div>
    </div>
</body>

{% endblock %}

