{% extends 'admin/room/base_room.html.twig' %}

{% block title 'Créer une salle' %}

{% block body %}
<body>
    <div class="jumbotron transparence">
        <div class="container mt-4">
            <h2>Créer une salle</h2>
            {{ include ('admin/room/_form.html.twig', {button: 'Créer'}) }}
        </div>
    </div>
</body>
{% endblock %}

