{% extends 'base.html.twig' %}

{% block title 'Créer une salle' %}

{% block body %}
    <div class="container mt-4">
        <h2>Créer une salle</h2>
        {{ include ('admin/room/_form.html.twig', {button: 'Créer'}) }}
    </div>

{% endblock %}

