<form method="post" action="{{ path('booking.delete', {'id': booking.id}) }}" style="display: inline-block" onsubmit="return confirm('Veuillez confirmer la suppression');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
