{% extends 'admin/base_admin.html.twig' %}
{% block title 'Administration' %}

{% block body %}
    <style>
        body, tbody, thead{
            color: white;
        }
    </style>
<body>
    <div class="jumbotron transparence">
        <h1 class="display-3 text-center">Administration</h1>
    </div>
    <div class="jumbotron transparence">
        <div class="container mt-4">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col">Titre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Managers</td>
                        <td><a href="{{ path('admin.manager.index') }}" class="btn btn-secondary">Administrer</a></td>
                    </tr>
                    <tr>
                        <td>Salles</td>
                        <td><a href="{{ path('admin.room.index') }}" class="btn btn-secondary">Administrer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}